[submodule "mozmill-tests/mozilla-mozmill-tests"]
	path = mozmill-tests/mozilla-mozmill-tests
	url = https://github.com/boklm/mozilla-mozmill-tests
[submodule "marionette/firefox-ui-tests"]
	path = marionette/firefox-ui-tests
	url = https://github.com/mozilla/firefox-ui-tests
